
  <p>여기는 회원가입페이지</p>
  <form action="/" method="get" class="form">
  <div class="form-example">
    <label for="name">id: </label>
    <input type="text" name="name" id="name" required>
  </div>
  <div class="form">
    <label for="email">email: </label>
    <input type="email" name="email" id="email" required>
  </div>
  <div class="form">
    <input type="submit" value="가입하기">
  </div>
</form>